@import '../../../sass/variables';

.cards-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px 0;

    img {
        width: 290px;
        height: 360px;
        border-radius: 4px;
        box-shadow: $box-shadow2;
    }
}
