// Color HEX
$color-black: #000;
$color-white: #fff;
$color-denim: #0D7BC4;
$color-monza: #D8000C;
$color-cosmos: #FFD2D2;
$color-mercury: #E7E7E7;
$color-pink: #e57373;
$color-blue: #1c8ac9;

$color-grey: #7d8f8f;
$color-greyDark: #5e6464;
$color-titleBg: #c4a288;
$color-bg: #1c8ac9;
$color-hover: #e57373;
$color-section: #65c7f5;

$box-shadow: 0px 4px 4px #00000040;
$box-shadow2: 0px 4px 4px rgba(0, 0, 0, 0.25);
$box-shadow3: 0px 1px 1px rgba(0, 0, 0, 0.25);
