.searchForm {
  width: 65%;
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 1px 1px 25px 13px rgba(34, 60, 80, 0.14);
  border-radius: 1rem;
  margin: 0 auto;
}

input::before, input::after {
  border: none;
}
