@import '../../sass/variables';

.authorization {
  position: relative;
  display: grid;
  grid-gap: 30px;

  &__title {
    display: flex;
    justify-content: center;
    padding: 2px 0;
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;
    color: $color-denim;
  }

  &-content {
    display: grid;
    align-items: center;
    grid-gap: 50px;
    grid-template-columns: minmax(125px, 1fr) auto;
  }

  &-buttons {
    display: flex;
    justify-content: center;

    &__login {
      display: inline-flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
}