@import '../../../../sass/variables';

.apartment-filters {
  position: relative;
  display: grid;
  grid-gap: 30px;

  &__title {
    font-size: 25px;
    font-weight: 600;
  }

  &__button {
    border-radius: 50% !important;
    padding: 5px 5px !important;
    min-width: 0 !important;
  }

  &-price-range {
    display: grid;
    grid-gap: 35px;
    padding: 0 8px;

    &__label {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      color: $color-denim;
      width: 100%;
    }

    &__item {
      cursor: pointer;
    }
  }

  &-number-of-bedrooms {
    display: grid;
    grid-gap: 35px;
    padding: 0 8px;

    &-settings {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      &__buttons {
        display: inline-flex;
        justify-content: space-between;
        column-gap: 10px;
        align-items: center;
      }
    }
  }

  &-footer {
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.slider-label {

}
