@import '../../sass/variables';

.room {
  &-bg {
    background-color: #eeeeee;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1600px;
    width: 100%;
    padding: 1rem 0;
    padding-top: 8rem;

    main {
      width: 74.5%;

      .main-info {
        display: flex;

        .main {
          width: 75%;
        }

        .nav {
          width: 25%;

          .accordion-item {
            margin: .3rem;
            border-radius: .3rem;
          }
        }
      }
    }

    nav {
      width: 25%;

      .room-reviews {
        height: 505px;
        margin-top: .5rem;
      }

      .room-pay {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .room-button {
          font-size: 16px;
          border-radius: .6rem;
          background-color: $color-pink !important;
          padding: .6rem 5rem;
        }

        .room-price, .book-button-error, .book-button-booked {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $color-greyDark;
          font-size: 18px;
          margin-right: .5rem;
        }

        .room-button:hover {
          background-color: $color-blue !important;
        }

        .book-button-error {
          color: $color-pink;
          margin: 0;
        }

        .book-button-booked {
          color: $color-blue;
          margin: 0;
        }
      }
    }
  }

  &-component {
    background-color: #fff;
    border-radius: .3rem;
    box-shadow: $box-shadow3;
    padding: .5rem;
  }

  &-preview {
    padding: .5rem;
    margin: .3rem;

    .main-image {
      border-radius: .3rem;
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      max-height: 500px;
    }

    .slider-image {
      object-fit: cover;
      border-radius: .3rem;
      max-height: 8rem;
      max-width: 11rem;
      width: 100%;
      height: 100%;
      cursor: grabbing;
    }

    .splide {
      //margin-left: 1.2rem;
    }

    .splide__arrow--prev {
      opacity: 1;
      left: -2rem;
    }

    .splide__arrow--next {
      opacity: 1;
      right: -2rem;
    }

    .splide__arrow {
      background: transparent;

      svg {
        fill: $color-greyDark;
      }
    }

    .splide__arrow:hover {
      svg {
        fill: $color-grey;
      }
    }

    .splide__pagination__page.is-active {
      background-color: $color-greyDark;
    }

    .splide__pagination__page:hover {
      background-color: $color-grey;
    }

    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: .5rem;
    }
  }

  .skeleton {
    border-radius: 1rem;
  }

}

