@import '../../sass/variables';

.room {
  max-height: 100vh;
  height: 100%;
  &-bg {
    background-color: #eeeeee;
  }

  &-container {
    display: flex;
    margin: auto;
    width: 1600px;
    padding: 1rem 0;

    main {
      width: 80%;

      .main-info {
        display: flex;

        .main {
          width: 75%;
        }

        .nav {
          width: 25%;

          .accordion-item {
            margin: .3rem;
            border-radius: .3rem;
          }
        }
      }
    }

    nav {
      width: 20%;
    }
  }

  &-component {
    background-color: #fff;
    border-radius: .3rem;
    box-shadow: $box-shadow3;
    padding: .5rem;
    margin: .3rem;
  }

}

