@import '../../sass/variables';

.room {
  &-bg {
    background-color: #eeeeee;
  }

  &-container {
    display: flex;
    margin: auto;
    max-width: 1600px;
    width: 100%;
    padding: 1rem 0;

    main {
      width: 75%;

      .main-info {
        display: flex;

        .main {
          width: 75%;
        }

        .nav {
          width: 25%;

          .accordion-item {
            margin: .3rem;
            border-radius: .3rem;
          }
        }
      }
    }

    nav {
      width: 25%;
    }
  }

  &-component {
    background-color: #fff;
    border-radius: .3rem;
    box-shadow: $box-shadow3;
    padding: .5rem;
    margin: .3rem;
  }

  &-preview {
    padding: .5rem;
    margin: .3rem;

    .main-image {
      border-radius: .3rem;
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      max-height: 500px;
    }

    .slider-image {
      object-fit: cover;
      width: 22%;
      max-height: 125px;
      height: 100%;
      border-radius: .3rem;
      margin: .3rem;
    }

    footer {
      display: flex;
      .room-info {
        width: 150px;
      }
    }
  }

}

