.footer-content {
    display: flex;
    justify-content: space-between;
    color: #7d8f8f;
}
.footer-text {
    width: 30%;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    a {
        color: #5e6464;
        margin-bottom: 5px;
    }
}

.footer-input {
    color: #5e6464;
    p {
        margin-top: 5px;
    }
}

input {
    height: 35px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px #00000040;
    margin: 10px 5px 0 0;
    outline: none;
}

.footer-policy{
    color: #5e6464;
    margin-top: 30px;
    border-top: 1px solid #868f8f;
    display: flex;
    justify-content: space-between;
    div {
        margin-top: 15px;
        a {
            color: #5e6464;
            margin-right: 10px;
        }
    }
}
