@import '../../../sass/variables';

.major-city {
    background-color: $color-section;

    h3 {
        color: $color-white;
    }
}

.img-container{
    h4{
        color: $color-white;
        font-size: 16px;
        margin-bottom: 15px;
    }
}

.major-city-header {
    display: flex;
    justify-content: space-between;
}

.major-city-hotels-xs {
    img {
        width: 250px;
        height: 120px;
        border-radius: 4px;
        box-shadow: $box-shadow2;
    }
}
.major-city-hotels-m {
    img {
        width: 542px;
        height: 150px;
        border-radius: 4px;
        box-shadow: $box-shadow2;
    }
}
.major-city-hotels-big {
    img {
        width: 300px;
        height: 315px;
        border-radius: 4px;
        box-shadow: $box-shadow2;
    }
}

.major-city-hotels-containet {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.major-city-hotels-containet-up {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.major-city-hotels-containet-left {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

