@import '../../../../../sass/variables';

.search-bar {
  position: relative;
  max-width: 68rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__text {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &-form {
    border-radius: 4px;
    padding: 3px 6px;
    display: flex;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: $color-mercury;

    &__text {
      min-width: 140px;
      padding: 3px;
      text-align: center;
      border-radius: 3px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      background-color: $color-white;
    }

    &__button {
      border-radius: .6rem !important;
      background-color: $color-pink !important;

      &:hover {
        background-color: $color-blue !important;
      }
    }
  }
}
