@import '../../../../sass/variables';
.navigation-landing {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-error {
        border: 1px solid $color-monza;
        margin: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 5px;
        color: $color-monza;
    }
}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white;
    padding: 25px;
    box-shadow: 0 7px 20px -2px $color-grey;
}

.link-item {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}
