.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link-item {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}
